:root {
  /* Primary colors */
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  /* Neutral colors */
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --Very-dark-blue-hamburger: hsl(240, 100%, 5%, 0.55);
}

/* ======
CSS RESET
CREDIT TO: https://www.joshwcomeau.com/css/custom-css-reset/ 
====== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* == UTILITES == */
p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--Off-white);
  transition: 0.4s;
}

body.show {
  background: var(--Very-dark-blue-hamburger);
}

/* == HEADER == */

/* Navagation */
.nav-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.8rem 1rem;
}

.nav-wrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.logo {
  max-width: 15%;
}

/* Hamburger */
.hamburger-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 31%;
  height: 100%;
  padding: 8.5rem 1.5rem;
  line-height: 2.8;
  font-size: 1.2rem;
  transform: translateX(100%);
  transition: 0.4s;
  z-index: 2;
}

.hamburger-ul li a {
  color: var(--Very-dark-blue);
}

.hamburger-img-inactive {
  position: absolute;
  top: 3.6%;
  left: 80.5%;
}

.hamburger-nav.show {
  transform: translateX(0%);
  background-color: var(--Off-white);
}

.hamburger-ul .show {
  color: var(--Very-dark-blue);
}

/* == MAIN == */

/* Hero */
.hero-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.hero-mobile-photo {
  padding: 0.5rem 1rem;
  opacity: 1;
}

.hero-text {
  padding: 1rem 1rem;
}

.hero-text h1 {
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 1;
  color: var(--Very-dark-blue);
  width: 95%;
}

.hero-text p {
  margin-top: 1rem;
  width: 97%;
  color: var(--Dark-grayish-blue);
}

.hero-button {
  display: inline-block;
  margin-top: 1.4rem;
  padding: 0.8rem 2.2rem;
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--Soft-red);
  color: var(--Off-white);
}

.hero-mobile-photo.show {
  transition: 0.4s;
  opacity: 0.6;
}

/* News */
.news-wrapper {
  margin: 3rem 1rem;
  padding: 1rem 1.3rem;
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
}

.news-wrapper h2 {
  color: var(--Soft-orange);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.news-post a {
  text-decoration: none;
  color: var(--Off-white);
  font-weight: 800;
  font-size: 1.2rem;
}

.news-post p {
  margin-top: 0.5rem;
  color: var(--Grayish-blue);
}

.news-post:nth-child(1),
.news-post:nth-child(2) {
  margin-bottom: 2rem;
}

.news-post:nth-child(3) {
  margin-bottom: 1rem;
}
hr {
  opacity: 0.5;
  border: 0;
  border-top: 1px solid var(--Grayish-blue);
  margin-top: 2rem;
  padding: 0;
}

/* -- Attribution --*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
