:root {
  /* Primary colors */
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  /* Neutral colors */
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%, 0.3);
}

/* ======
CSS RESET
CREDIT TO: https://www.joshwcomeau.com/css/custom-css-reset/ 
====== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* == UTILITES == */
p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
}

body {
  transition: 0.4s;
}

body.show {
  background: var(--Very-dark-blue);
}

/* == HEADER == */

/* Navagation */
.nav-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.8rem 1.2rem;
}

.nav-wrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.logo {
  max-width: 15%;
}

/* Hamburger */
.hamburger-img-inactive {
  position: absolute;
  top: 3.6%;
  left: 75%;
}

.hamburger-ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 31%;
  height: 100%;
  padding: 8.5rem 1.5rem;
  line-height: 2.8;
  font-size: 1.2rem;
  transform: translateX(100%);
  transition: 0.4s;
}

.hamburger-ul.show {
  transform: translateX(0%);
  background-color: blanchedalmond;
}

/* == MAIN == */
.hero-wrapper img {
  padding: 0.5rem 1.2rem;
}

/* -- Attribution --*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
